#python==3.7.0 (64 bits)
tensorflow==1.15.2
regex
requests
tqdm
numpy
toposort
spacy
spacytextblob
(comandos a ejecutar en consola, preferiblemente en el entorno)
python -m spacy download en_core_web_sm
